
body{
    font-family: Montserrat;
}
.container-fluid {
    padding: 3% 15%;
    background-color:#186F65;
}
.btn {
    margin: 3% 5% 3% 0%;
}
.profile-pic {
    border-radius: 100%;
}

h1{
    font-family: Montserrat-black;
    font-size: 3rem;
    line-height: 1.5;
}

.navbar {
    padding-bottom: 4.5rem;
}
.nav-item {
    padding:0px 18px;
}
.nav-link {
    font-size: 1.2rem;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
    padding-bottom: 3%;
}
.bio {
    text-align: left;
}

#about , #skills , #projects , #contact{
    padding: 100px;
    text-align: center;
}
.section-column {
    padding: 3% 2%;
}
.skill-card {
    background-color: #186F65;
}
.project-image{
    padding: 3% 2%;
    height: 50%;
    width: 50%;
}
.project-desc {
    padding: 1% 0%;
}

#skills , #contact {
    background-color: #186F65;
}


.footers , #footer {
    text-align: center;
    background-color: #fff;
}